:root {
  /* Colors */
  --black-color: #000;
  --white-color: #fff;
  --action-color: #f1f400;
  --surface-color: #fff;

  /* Typography */
  --font: 'Open Sans', sans-serif;

  /* Typo bolds */
  --normal: 400;
  --semi-bold: 600;
  --bold: 700;

  /* Spacing */
  --space-half: 5px;
  --space: 10px;
  --space-2: 20px;
  --space-3: 30px;
  --space-4: 40px;
  --space-5: 50px;

  /* Border radius */
  --border-radius: 10px;
}